In [1]:
#Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Question 1: What version of Pandas did you install?

In [2]:
#Checking the version of pandas installed

pd.__version__

'1.3.4'

In [3]:
#Loading the data

df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Question 2: How many records are in the dataset?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Question 3: How many fuel types are presented in the dataset?

In [5]:
#Checking the unique fuel types in the dataset

df['fuel_type'].nunique()

2

### Question 4: How many columns in the dataset have missing values?

In [6]:
#Checking number of columns with null

df.isnull().any().sum()

4

### Question 5: What's the maximum fuel efficiency of cars from Asia?

In [7]:
#Subsetting the data to contain only data from Asia 
df_asia = df[df['origin'] =='Asia']

#finding the maximum fuel efficiencency of cars from Asia
df_asia['fuel_efficiency_mpg'].max()

23.759122836520497

### Question 6: 
Find the median value of the horsepower column in the dataset.

Next, calculate the most frequent value of the same horsepower column.

Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

Now, calculate the median value of horsepower once again.

In [8]:
#summary statistic of horsepower column
df['horsepower'].describe().round(2)

count    8996.00
mean      149.66
std        29.88
min        37.00
25%       130.00
50%       149.00
75%       170.00
max       271.00
Name: horsepower, dtype: float64

In [9]:
#finding the median of horsepower column
df['horsepower'].median()

149.0

In [10]:
#filling the null values with the most frequent value (mode)

df['horsepower'].fillna(df['horsepower'].mode()[0], inplace=True)

#checking for null values
df['horsepower'].isna().sum()

0

In [11]:
#finding the new median
df['horsepower'].median()

152.0

### Question 7: Linear Regression

In [12]:
#Select all the cars from Asia and Select only columns vehicle_weight and model_year

df_asia = df_asia[['vehicle_weight', 'model_year']]

#Select the first 7 values
asia7 = df_asia.head(7)

In [13]:
#Get the underlying NumPy array. Let's call it X.
X = asia7.to_numpy()

#Compute matrix-matrix multiplication between the transpose of X and X
XTX = (X.T).dot(X)

#Invert XTX.
XTX_inv = np.linalg.inv(XTX)

In [14]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [15]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
w = XTX_inv.dot(X.T).dot(y)

#What's the sum of all the elements of the result?
print('Sum of elements in w:', w.sum().round(2))

Sum of elements in w: 0.52